/* google fonts*/
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');


.footer {
  width: 100%;
  background-color: rgba(0, 183, 255, 0.95);
  min-height: 10vh;
  text-align: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer h2 {
  color: white;
  font-size: 2rem;
  font-family:'Josefin Sans',Helvetica, sans-serif;
}
